<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SIMS</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
label {
	color: green;
}
select.form-control:not([size]):not([multiple]) {
	height: calc(3rem + 2px);
}
</style>
</head>
<body>
	<div th:replace="fragment ::header"></div>

	<br>
	<br>
	<div class="container">
		<h6 class="text-center">
			<b><font color="blue">Add Supplier / Manufacturer </font></b>
		</h6>


		<form th:action="@{/supplier}" th:object="${supplier}" method="POST">
			<div class="row">
				<div class="container card">
					<h6>
						<b>Supplier Information</b>
					</h6>
					<div class="card-body">


						<div class="form-row">
							<div class="col">
								<label> Supplier Category: </label> <select required="required"
									autofocus="autofocus" name="supplierCategory"
									th:field="*{supplierCategory}"
									class="form-control">
									<!-- <option value="-1" >Select</option> -->
									<option value="Jewellery">Jewellery</option>
									<option value="Clothing">Clothing</option>
									<option value="Others">Others</option>

								</select>
							</div>

							<div class="col">
								<label> Supplier Type: </label> <select name="supplierType"  required="required"
									th:field="*{supplierType}" class="form-control">
									<!-- <option value="-1">Select</option> -->
									<option value="Wholesalers">Wholesalers</option>
									<option value="Manufacturers">Manufacturers</option>
									<option value="Others">Others</option>

								</select>
							</div>


							<div class="col">
								<label> Supplier Name: </label> &nbsp; &nbsp; <input type="text"
									required="required" name="supplierName"
									th:field="*{supplierName}" class="form-control form-control-sm"
									placeholder="Enter Supplier Name" />
							</div>
							<div class="col">
								<label> Reg. Fee: </label> &nbsp; &nbsp; <input type="text"
									required="required" name="registrationFee"
									th:field="*{registrationFee}"
									class="form-control form-control-sm"
									placeholder="Enter Registration Fee" />
							</div>
						</div>
						<br>
						<div class="form-row">
							<div class="col">
								<label> Balance Amount: </label> &nbsp; &nbsp; <input
									type="text" required="required" name="balanceAmountWithVendor"
									th:field="*{balanceAmountWithVendor}"
									class="form-control form-control-sm"
									placeholder="Enter Balance Amount" />
							</div>
							<div class="col">
								<label> Supplier GST Number </label> <input type="text"
									name="supplierGSTNo" th:field="*{supplierGSTNo}"
									class="form-control form-control-sm"
									placeholder="Enter Supplier GST Number" />
							</div>


							<div class="col">
								<label> Supplier Address </label> <input type="text"
									name="supplierAddress" th:field="*{supplierAddress}"
									class="form-control form-control-sm"
									placeholder="Enter Supplier Description" />
							</div>
						</div>
					</div>
					<h6>
						<b>Communication Details</b>
					</h6>
					<div class="card-body">

						<div class="form-row">

							<div class="col">
								<label> Supplier Email Id</label> <input type="email"
									name="supplierEmailId" id="InputEmail1"
									aria-describeby="emailHelp" th:field="*{supplierEmailId}"
									class="form-control form-control-sm"
									placeholder="Enter Supplier Email id" />
							</div>

							<div class="col">
								<label> Supplier Contact Number </label> <input type="number"
									required="required" name="supplierContactNo"
									th:field="*{supplierContactNo}"
									class="form-control form-control-sm"
									placeholder="Enter Contact Number" />
							</div>


							<div class="col">
								<label> Supplier Website</label> <input type="text"
									name="website" th:field="*{website}"
									class="form-control form-control-sm"
									placeholder="Enter Supplier Website url" />
							</div>
						</div>
						<br>
						<div class="form-row">

							<div class="col">
								<label> Twitter Id </label> <input type="text" name="twitterId"
									th:field="*{twitterId}" class="form-control form-control-sm"
									placeholder="Enter Twitter Id" />
							</div>


							<div class="col">

								<label> Instagram Id</label> <input type="text"
									name="instagramId" th:field="*{instagramId}"
									class="form-control form-control-sm"
									placeholder="Enter Instagram Id" />
							</div>

							<div class="col">
								<label> Facebook Id </label> <input type="text"
									name="facebookId" th:field="*{facebookId}"
									class="form-control form-control-sm"
									placeholder="Enter Facebook Id" />
							</div>

						</div>


					</div>
					<h6>
						<b>Bank Account Information</b>
					</h6>
					<div class="card-body">

						<div class="form-row">

							<div class="col">
								<label> Bank Name</label> <input type="text" name="bankName"
									th:field="*{bankName}" class="form-control form-control-sm"
									placeholder="Enter Bank Name" />
							</div>


							<div class="col">
								<label> IFSC Code</label> <input type="text" name="bankIFSCCode"
									th:field="*{bankIFSCCode}" class="form-control form-control-sm"
									placeholder="Enter IFSC Code" />
							</div>

							<div class="col">
								<label> AccountHolder Name</label> <input type="text"
									name="accountHolderName" th:field="*{accountHolderName}"
									class="form-control form-control-sm"
									placeholder="Enter AccountHolder Name" />
							</div>


							<div class="col">
								<label> Account Number </label> <input type="number"
									name="accountNumber" th:field="*{accountNumber}"
									class="form-control form-control-sm"
									placeholder="Enter Account Number" />
							</div>

						</div>
					</div>

					<h6>
						<b>Other Information</b>
					</h6>
					<div class="card-body">

						<div class="form-row">

							<div class="col">
								<label>Source</label> <input type="text" name="source"
									th:field="*{source}" class="form-control form-control-sm"
									placeholder="Enter Source" />
							</div>


							<div class="col">
								<label> Comments</label> <input type="text" name="comments"
									th:field="*{comments}" class="form-control form-control-sm"
									placeholder="Enter comments" />
							</div>


							<div class="col">
								<label> Other Details</label> <input type="text"
									name="otherDetails" th:field="*{otherDetails}"
									class="form-control form-control-sm"
									placeholder="Enter Any other details" />
							</div>

						</div>
					</div>

					<br>
					<div class="box-footer" align="center">
						<button type="submit" class="btn btn-primary">Save
							Supplier Details</button>
					</div>
					<br>
				</div>
			</div>
		</form>

	</div>
	<div th:replace="fragment ::footer"></div>
</body>
</html>