<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SIMS</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<style>
label {
	color: green;
}
</style>
</head>
<body>
	<div th:replace="fragment ::header"></div>

	<br>
	<br>
	<div class="container">

		<h6 class="text-center">
			<b><font color="blue"> Purchase Order Details </font></b>
		</h6>
		<div class="row">

			<div class="container card">
				<form th:action="@{/order/{id} (id=${order.id})}"
					th:object="${order}" enctype="multipart/form-data" method="POST">


					<div class="card-body">

						<div class="form-row">




							<div class="col">
								<label> Order Id </label> <input type="text" required="required"
									readonly="readonly" name="id" th:field="*{id}"
									class="form-control form-control-sm" placeholder="Order id" />
							</div>
							<div class="col">
								<label> Product Number </label> <input type="text"
									required="required" name="productNumber"
									th:field="*{productNumber}"
									class="form-control form-control-sm"
									placeholder="Enter Product Number" />
							</div>

							<div class="col">
								<label> Product Description </label> <input type="text"
									required="required" name="productDescription"
									th:field="*{productDescription}"
									class="form-control form-control-sm"
									placeholder="Enter Product Description" />
							</div>


							<div class="col">
								<label> Product Quantity </label> <input type="number"
									name="quantity" required="required" th:field="*{quantity}"
									class="form-control form-control-sm"
									placeholder="Enter Product Quantity" />
							</div>
						</div>
						<br>
						<div class="form-row">

							<div class="col">
								<label> Price </label> <input type="number" name="price"
									required="required" th:field="*{price}"
									class="form-control form-control-sm"
									placeholder="Enter Product Price" />
							</div>
							<div class="col">
								<label> Multiplier </label> <input type="number"
									name="multiplier" th:field="*{multiplier}"
									class="form-control form-control-sm"
									placeholder="Enter Multiplier value" />
							</div>

							<div class="col">
								<label> Shipping Cost </label> <input type="number"
									name="shippingCost" th:field="*{shippingCost}"
									class="form-control form-control-sm"
									placeholder="Enter Shipping Cost" />
							</div>


							<div class="col">
								<label> Total Cost </label> <input type="number"
									required="required" name="totalCost" th:field="*{totalCost}"
									class="form-control form-control-sm"
									placeholder="Enter Total Cost" />
							</div>

						</div>
						<br>
						<div class="form-row">
							<div class="col">
								<label> Supplier Id</label> <input type="number"
									required="required" name="supplierId" th:field="*{supplierId}"
									class="form-control form-control-sm"
									placeholder="Enter Supplier Id" />
							</div>

							<div class="col">
								<label> Supplier Name</label> <input type="text"
									required="required" name="supplierName"
									th:field="*{supplierName}" class="form-control form-control-sm"
									placeholder="Enter Supplier Name" />
							</div>

							<div class="col">
								<label> Product Name </label> <input type="text"
									required="required" name="productName"
									th:field="*{productName}" class="form-control form-control-sm"
									placeholder="Enter Product Name" />
							</div>


							<div class="col">
								<label> Product Image Name</label> <input type="text"
									name="poImageName" th:field="*{poImageName}"
									class="form-control form-control-sm"
									placeholder="Enter Product Image" />
							</div>
						</div>
						<br>
						<div class="form-row">

							<div class="col">
								<label> Comments </label> <input type="text" name="comments"
									th:field="*{comments}" class="form-control form-control-sm"
									placeholder="Enter any additional comments" />
							</div>
							<div class="col">
								<label> Other Details </label> <input type="text"
									name="otherDetails" th:field="*{otherDetails}"
									class="form-control form-control-sm"
									placeholder="Enter any additional comments" />
							</div>
						</div>

						<br>

						<div class="form-row">

							<div class="col">
								<label> Product Image </label>  &nbsp;&nbsp; <img alt="Product Image"
									class="img-thumbnail"
									th:src="@{'data:image/*;base64,' + ${order.poImageBase64}}"
									width="100px" height="100px" />
							</div>
							
							<div class="col" hidden="true">
								<label> Product Image Data </label> <input type="text"
									required="required" name="poImageData"
									th:field="*{poImageData}"
									class="form-control form-control-sm"
									 />
							</div>

							<div class="col">
								<label> Upload New Product Image</label> <input type="file"
									name="poOriginalImage" th:field="*{poOriginalImage}"
									class="form-control form-control-sm"
									placeholder="Enter Product Image" />
							</div>
						</div>
						<br>

						<div class="form-row">

							<div class="col">
								<label> Order Receipt </label> &nbsp;&nbsp; <img alt="Order Receipt"
									class="img-thumbnail"
									th:src="@{'data:image/*;base64,' + ${order.orderReceiptImageBase64}}"
									width="100px" height="100px" />
							</div>
							
							<div class="col" hidden="true">
								<label> Order Receipt Data</label> <input type="text"
									required="required" name="orderReceiptImageData"
									th:field="*{orderReceiptImageData}"
									class="form-control form-control-sm"
								 />
							</div>
							
							<div class="col">
								<label> Upload New Order Receipt</label> <input type="file"
									name="orderReceiptImage" th:field="*{orderReceiptImage}"
									class="form-control form-control-sm"
									placeholder="Enter Product Image" />
							</div>
						</div>

					</div>
					<br>
					<div class="box-footer" align="center">
						<button type="submit" class="btn btn-primary">Update
							Order</button>
					</div>

					<br>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragment ::footer"></div>
</body>
</html>