<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PIMS</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">SMIMS</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/suppliers}"><font
						color="orange">Supplier/Manufacturer Management</font></a></li>
				<!-- <li class="nav-item"><a class="nav-link" th:href="@{/orders}">Order
						Management</a></li> -->
			</ul>
		</div>
	</nav>

	<!-- <div class="col-lg-3">


		<form th:action="@{/suppliers/searchSuppliers}"
			th:object="${searchSupplier}" method="POST">
			 <input type="text" name="fieldName"
				th:field="*{fieldName}" class="form-control" placeholder="Select" />
				
				 <input type="text" name="value"
				th:field="*{value}" class="form-control" placeholder="Enter value" />
			<div class="box-footer">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>


	</div> -->

	<div class="container table-responsive">
		<br>


		<h4 align="center">Suppliers List</h4>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/suppliers/new}" class="btn btn-primary btn-sm mb-3">
					Add Supplier</a>
					<a th:href="@{/suppliers/searchSuppliers}" class="btn btn-primary btn-sm mb-3">
					Search Suppliers</a>

			</div>

		</div>
		<table class="table table-bordered table-condensed table-hover">
			<thead class="table-dark">
				<tr>
					<th>S.No</th>
					<th>Supplier Number</th>
					<th>Supplier Name</th>
					<th>Manufacturer Name</th>
					<th>Price</th>
					<th>Supplier Image</th>
					<!-- <th>Created On</th>
					<th>Updated On</th> -->
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="supplier: ${suppliers}">
					<!-- <td th:text="${supplier.id}"></td> -->
					<td scope="row" th:text="${supplierStat.index+1}"></td>
					<td th:text="${supplier.supplierNumber}"></td>
					<td th:text="${supplier.supplierName}"></td>

					<td th:text="${supplier.manufacturerName}"></td>
					<td th:text="${supplier.price}"></td>
					<td><img alt="Supplier Image" class="img-thumbnail"
						th:src="@{'data:image/*;base64,' + ${supplier.imageBase64} }"
						width="80px" height="60px" /></td>
					<!-- <td th:text="${supplier.createdDate}"></td>
					<td th:text="${supplier.updatedDate}"></td> -->
					<td><a th:href="@{/suppliers/edit/{id}(id=${supplier.id})}"
						class="btn btn-primary">View</a> <a
						th:href="@{/suppliers/{id}(id=${supplier.id})}"
						class="btn btn-danger">Delete</a> <!-- <a
						th:href="@{/suppliers/createOrder/{id}(id=${supplier.id})}"
						class="btn btn-danger">Create Order</a> --></td>
				</tr>
			</tbody>

		</table>

	</div>
</body>
</html>